.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(226,225,231,0.9444152661064426) 28%, rgba(251,251,251,1) 63%);
    
}

/*CSS for footer and header*/
.Footer{
   margin-top: auto;
   background: linear-gradient(241deg, rgba(251,249,249,1) 0%, rgba(202,237,225,1) 0%, rgba(48,148,155,1) 69%);
   color: white;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   padding: 40px 0;
}


.Header{
    background: linear-gradient(241deg, rgba(251,249,249,1) 0%, rgba(202,237,225,1) 0%, rgba(48,148,155,1) 69%);
    margin-bottom: 40px;
}

.Logo{
    height: 40px;
}

/*CSS used on login, sihn up and password reset components*/
.CredentialsCard{
    border: 2px solid rgb(255, 255, 255);
    min-width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    background-color: white;
}

.LinkText{
    text-decoration: none;
    margin-right: 10px;
}

/*CSS used in page content and forms*/
.Content{
    min-height: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Card{
    background-color: white;
}

.Form-Headers{
    font-weight: bold;
    font-size: 30px;
    font-style: underline;
    text-align: center;
}

.Bold-Text{
    font-weight: bold;
}

.Bad-Text{
    font-weight: bold;
    color:rgb(255, 0, 0);
}

.Good-Text{
    font-weight: bold;
    color:rgb(40, 190, 53);
}
